* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 65.5%;
}

body {
  font-family: 'Roboto', sans-serif;

  background: url('/imgs/mountains-universe-1.png') no-repeat center fixed;     
  background-size: cover;
}

navbar {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  margin-top: 5rem;
  margin-left: 7.2rem;
}

ul {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  font-size: 2.1rem;
  line-height: 2.1rem;
}

a {
  text-decoration: none;
  color: #C4C4CC;
}

a:hover {
  color: white;
  font-weight: bold;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.8rem;
  margin-top: 29.4rem;
}

h1 {
  color: #E1E1E6;
  font-size: 4.8rem;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 2.9rem;

  color: #E1E1E6;
}

button {
  color: #FFFFFF;
  background-color: transparent;

  border-radius: .5rem;
  border: .2rem solid white;

  padding: 1.2rem 3.2rem;
  font-weight: bold;

  font-size: 1.4rem;
  line-height: 2.4rem;
}

button:hover {
  cursor: pointer;
}
